# Python defaults
__pycache__/

# Project ignore
dataset/processed/
dataset/raw/

v1/

/*.ipynb
/*.py
/*.csv
!main.py
!utils.py

results/ChemGNN
results/GCN
results/PNA
results/tune

tune_results*/
legacy*/

*.out*

.ipynb_checkpoints/

tune_analysis_data.pt
dataset_occupy_table.pt

sample_*data/