*.pt
!results/*/*/checkpoint.pt

# *.poscar
# *.cif

/dataset/processed
/dataset/raw_mp/*.poscar
/dataset/raw_opt_hypo/*FORMATION_ENERGY*
/dataset/raw_opt_hypo/*POSCAR*

/dataset.spglib*/processed
/dataset.spglib*/raw/*.poscar

/dataset.max_cutoff*/processed
/dataset.max_cutoff*/raw/*.poscar

/reference

__pycache__
.DS_Store
*.code-workspace

/.vscode
/sample_data
/Yuner_Codes