# Python defaults
__pycache__/

# Project ignore
dataset/processed/
dataset/raw/

v1/

/*.ipynb
/*.py
!main.py
!utils.py

results/ChemGNN
results/GCN
results/PNA
results/tune

tune_results/

*.out

.ipynb_checkpoints/